.layout-root {
  min-height: 100vh;
}

/* contenido cuando el sidebar está normal (260px) */
.main-content {
  margin-left: 260px;
  padding: 1.5rem 2rem;
  transition: margin-left 0.3s ease;
}

/* contenido cuando el sidebar está colapsado (70px) */
.main-content.collapsed {
  margin-left: 70px;
}
